<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses | Student Attendance</title>
    <link rel="icon" href="../../img/title_icon.jpg" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="../../css/content-style.css" />
    <link rel="stylesheet" href="../../css/main-style.css" />

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>
    <div class="container-custom">

        <!-- Navbar Start -->
        <header class="header p-3 position-absolute start-0 top-0 end-0">
            <div id="header" class="d-flex fixed-top justify-content-between align-items-center px-5 navbar-expand-md"
                style="height: 100px; background-color: #007CB7; transition: 0.5s ease;">
                <a href="/courses" class="text-decoration-none text-white fs-1 fw-bold">
                    <img src="../../img/cosci_logo.png" alt="cosci logo" style="height: 4rem;">
                </a>

                <div>
                    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                            class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav justify-content-between fs-5" style="width: 450px; height: 100%">
                            <li class="nav-item">
                                <a class="nav-link text-white point__nav-link fw-bold" href="/courses"
                                    style="--pointer-color: white">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white point__nav-link" href="/edit-report"
                                    style="--pointer-color: white">Leave Requests</a>
                            </li>
                            <li class="nav-item">
                                <img src="../../img/vertical_line.png" alt="" style="height: 45px; width: 45px;">
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white" id="navbarDarkDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="bi bi-person-fill"></i></a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Navbar End -->

        <!-- Flyout Navigation Start -->
        <nav class="collapse navbar-collapse dropdown-nav" id="navbar">
            <div class="dropdown-nav__container container-xxl d-flex align-items-center">
                <div class="row align-items-start">
                    <div class="col-12">
                        <a href="/courses" class="row text-decoration-none">
                            <h1 class="display-4 text-white">Courses</h1>
                        </a>
                    </div>
                    <div class="col-12 mt-4">
                        <a href="/edit-report" class="row text-decoration-none">
                            <h1 class="display-4 text-white">Leave Requests</h1>
                        </a>
                    </div>
                    <div class="col-12 mt-4">
                        <a href="/logout" class="row text-decoration-none">
                            <h1 class="display-4 text-white">Sign Out</h1>
                        </a>
                    </div>
                </div>

                <button class="navbar-toggler dropdown-nav__closeNavBtn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        </nav>
        <!-- Flyout Navigation End -->

        <!-- QR Code Start -->
        <div class="container-fluid" style="padding: 130px 3rem 0 3rem;">
            <div class="my-4 d-flex justify-content-between align-items-center">
                <h1>Courses > Start Attendance</h1>
                <div class="d-flex justify-content-between">
                    <a href="/courses" class="h-50">
                        <button type="button" class="btn text-white me-3"
                            style="width: 100px; background-color: #C5CED1;">Cancel</button>
                    </a>
                    <a href="/courses"><button type="submit" class="btn text-white"
                            style="width: 100px; background-color: #007CB7;">Finish</button></a>
                </div>
            </div>

            <div class="d-flex flex-row">
                <img src="/public/img/bg_img_qrcode.png" class="qr-code img-thumbnail img-responsive me-5"
                    style="height: 35%; width: 35%;" />

                <div class="d-flex flex-column w-50">
                    <label id="time_label" class="form-label display-1" style="font-weight: 500;">00 :
                        00 : 00</label>

                    <!-- <label class="form-label display-5 text-secondary" style="font-weight: 500;">Live Attendance
                        Rate</label>
                    <div class="progress border w-100" style="height: 20%;">
                        <div class="progress-bar progress-bar-striped active fs-5" role="progressbar"
                            style="width: 50%;" aria-valuenow="0" aria-valuemin="0"
                            aria-valuemax="100">
                            0
                        </div>
                    </div> -->

                </div>
            </div>

        </div>
        <!-- QR Code End -->

    </div>

    <!-- QR Code Generator Start -->
    <script>
        // function httpGet(theUrl)
        // {
        //     var xmlHttp = new XMLHttpRequest();
        //     xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        //     xmlHttp.send( null );
        //     return xmlHttp.responseText;
        // }

        //set up date
        function formatDate() {
            var d = new Date(),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            // return [year, month, day].join('-');
            return `${year}:${month}:${day}`
        }

        //set up time
        function formatTime() {
            var dateTime = new Date();
            var hrs = dateTime.getHours();
            var min = dateTime.getMinutes();
            var sec = dateTime.getSeconds();

            if (hrs < 10) {
                hrs = '0' + hrs;
            }

            if (min < 10) {
                min = '0' + min;
            }

            if (sec < 10) {
                sec = '0' + sec;
            }

            var time = `${hrs}-${min}-${sec}`

            return time;
        }

        //display time on screen
        function displayTime() {
            const time_label = document.getElementById("time_label");
            time_label.innerHTML = formatTime();
        }
        setInterval(displayTime, 1000);

        //generate for making unique path
        function generateID() {
            var string = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
            let id = '';

            // Find the length of string
            var len = string.length;
            for (let i = 0; i < 6; i++) {
                id += string[Math.floor(Math.random() * len)];
            }
            console.log("id generation:", id);
            return id;
        }

        //create path that links to student attendance page
        function generatePath(path_id) {
            let dateTime = {
                date: formatDate(),
                time: formatTime()
            }

            let subject_code = "";
            let section = "";

            // let api = 'http://localhost:5005/attendance-check/:subject_code-:section/:date-:time/:path_id'
            let path = `http://localhost:5005/attendance-check/${subject_code}-${section}/${dateTime.date}-${dateTime.time}/${path_id}`

            return path
        }

        //encode qrcode into base64
        function htmlEncode(value) {
            return $('<div/>').text(value)
                .html();
        }

        //set base64 as img
        function updateQRCode() {
            let path_id = generateID();
            let finalURL =
                'https://chart.googleapis.com/chart?cht=qr&chl=' +
                htmlEncode(generatePath(path_id)) +
                '&chs=160x160&chld=L|0'

            $('.qr-code').attr('src', finalURL)
            $.post("/attendance-create/test",
                {
                    path_id: path_id
                },
                function (data, status) {
                    console.log(data);
                });

            // attendance_rate = httpGet(`/get-live-rate/${class_id}`)
        }

        setInterval(updateQRCode, 15000);

    </script>
    <!-- QR Code Generator End -->

</body>

</html>